﻿@model HoneyInDonetsk.Web.Core.EmailDto
@{
	Layout = null;
}

<table cellpadding="3" cellspacing="3">
	<tr>
		<th>Свойство</th>
		<th>От посетителя</th>
	</tr>
	<tr>
		<td>ФОИ</td>
		<td>@Model.Name</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>@Model.Email</td>
	</tr>
	<tr>
		<td>Тема</td>
		<td>@Model.Subject</td>
	</tr>
	<tr>
		<td>Сообщение</td>
		<td>@Model.Message</td>
	</tr>
</table>
