﻿@{
	ViewData["Title"] = "Home page";
	var required = @".+";
	var email = @".+@.+";
}

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="#top">На верх</a></li>
		<li><a href="#facts">Интересные факты</a></li>
		<li><a href="#location">На карте</a></li>
		<li><a href="#contact">Связатся с нами</a></li>
	</ul>
</nav>

<!-- Home -->
<div class="wrapper wrapper-style1 wrapper-first">
	<article class="container" id="top">
		<header>
			<h1>Мёд пчелиный.</h1>
		</header>
		<div class="row">
			<div class="12u">
				<p>Этот продукт, представляющий собой частично переваренный в зобе медоносной пчелы (Apis mellifera) нектар. Мёд содержит 13-22 % воды, 75-80 % углеводов (глюкоза, фруктоза, сахароза), витамины В1, В2, В6, Е, К, С, провитамин А-каротин, фолиевую кислоту. Многие люди предпочитают мёд другим подсластителям из-за его вкуса и аромата. (<a href="http://ru.wikipedia.org/wiki/%D0%9C%D1%91%D0%B4">источник</a>)</p>
			</div>
		</div>
		<footer>
			<a href="#facts" class="button button-big">Узнать об интересных фактах</a>
		</footer>
	</article>
</div>

<!-- Facts -->
<div class="wrapper wrapper-style2">
	<article class="container" id="facts">
		<header>
			<h2>Интересные факты о мёде.</h2>
		</header>
		<div class="row">
			<div class="4u">
				<article class="box box-style2">
					<a href="http://womenparadise.ru/biblioteka/508-klassifikaciya-i-harakteristika-osnovnyh-vidov-meda.html" class="image image-full"><img src="/images/fact_01.jpg" alt="" /></a>
					<h3><a href="http://womenparadise.ru/biblioteka/508-klassifikaciya-i-harakteristika-osnovnyh-vidov-meda.html">Рай для женщин</a></h3>
					<p>Классификация и характеристика.</p>
				</article>
			</div>
			<div class="4u">
				<article class="box box-style2">
					<a href="http://www.pchelomed.ru/cure/" class="image image-full"><img src="images/fact_02.jpg" alt="" /></a>
					<h3><a href="http://www.pchelomed.ru/cure/">Лечение мёдом</a></h3>
					<p>Мед – универсальное лекарство.</p>
				</article>
			</div>
			<div class="4u">
				<article class="box box-style2">
					<a href="http://domikmeda.ru/apiterapiya.html" class="image image-full"><img src="images/fact_03.jpg" alt="" /></a>
					<h3><a href="http://domikmeda.ru/apiterapiya.html">Апитерапия</a></h3>
					<p>Методы лечения.</p>
				</article>
			</div>
		</div>
		<footer>
			<a href="#location" class="button button-big">Найти нас на карте</a>
		</footer>
	</article>
</div>

<!-- Location -->
<div class="wrapper wrapper-style3">
	<article class="container" id="location">
		<header>
			<h2>Вот тут мы живем :)</h2>
		</header>
		<div class="row">
			<div class="12u">
				<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=yY7nSoi6p2HvX6Cj73osOlhGZZWa7BU9&width=600&height=450"></script>
			</div>
		</div>
		<footer>
			<a href="#contact" class="button button-big">Связатся с нами</a>
		</footer>
	</article>
</div>

<!-- Contact -->
<div class="wrapper wrapper-style4">
	<article id="contact">
		<header>
			<h2>Хотите купить мёд? Напишите нам и мы, обязательно, с Вами свяжемся!</h2>
		</header>
		<div class="row">
			<div class="12u">
				<form method="post" action="/">
					<div>
						<div style="display: none">
							<input type="text" name="honeyspot" id="honeyspot" value="" />
						</div>
						<div class="row half">
							<div class="6u">
								<input type="text" name="name" id="name" placeholder="ФИО" pattern="@required" title="Введите свое имя. Пример: Иван" />
							</div>
							<div class="6u">
								<input type="text" name="email" id="email" placeholder="Email" pattern="@email" title="Введите свой электронный адрес. Пример: ivan@mail.ru"/>
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<input type="text" name="subject" id="subject" placeholder="Тема" pattern="@required" title="Введите тему письма. Примир: купить" />
							</div>
						</div>
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="message" placeholder="Сообщение" pattern="@required"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<a href="#" class="button form-button-submit">Отправить сообщение</a>
								<a href="#" class="button button-alt form-button-reset">Очистить форму</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
</div>